@model List<ZapateriaJossielito.Models.Ventas>

@{
    ViewBag.Title = "ViewVentas";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css%22%3E">
<h2>Ventas</h2>

<div>

    <hr />
    <table class="table table-dark">
        <tr>

            <th scope="col">IdVenta</th>

            <th scope="col">Fecha</th>

            <th scope="col">Usuario</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>

                 <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario_FK)
                    </td> 

                <td>
                    @Html.ActionLink("Editar", "Actualizar", new { id = item.IdVenta }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.IdVenta }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "ServicioDelete", new { id = item.IdVenta }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }



</div>

<p>

    @Html.ActionLink("Agregar Ventas", "Registrar", null, new { @class = "btn btn-success" })
</p>
<p>

    @Html.ActionLink("Ver Ventas", "ViewRegistrar", "Venta", null, new { @class = "btn btn-warning" })
</p>